body{
	background-color: #232323;
}

.square{
	padding-bottom: 30%;
	background: #32a84e;
	margin: 100px 100px;
	width: 30%;
	margin: 1.66%;
	
	float: left;
	}

#container{
	max-width: 600px;
	margin: 0 auto;

}
h1{
	color: white;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	border: 5px solid white;
	

}

/*#message{
	color:white;
	text-align: center;
}*/
#stripe{
	background: white;
	height=30px;
	text-align: center;
	color: black;
}

.selected{
	background: blue;
	
}